<div id = "simpleform">
{{ form_start(form) }}
    {{ form_widget(form) }}

    {% if book.path %}
        <img src="{{ asset('uploads/' ~ book.path) }}" width="150" height="200" alt="Book cover"/>
    {% else %}
        <img src="{{ asset('uploads/bookblack.png') }}" width="150" height="200" alt="Book cover"/>
    {% endif %}

    <table class="table">
        <tbody>
        <tr>
            <th>Authors of the book</th>
            <td>
                {% for author in book.authors %}
                    {{ author.surname }} {{ author.name }} {{ author.patronymic }}
                {% else %}
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>
