{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>Book</h1>

    <a href="{{ path('app_author_index') }}">Author</a>
    <br>
    <a href="{{ path('app_book_new') }}">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Book cover</th>
                <th>Name</th>
                <th>YearPublication</th>
                <th>ISBN</th>
                <th>PageCount</th>
                <th>Authors</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>
                    {% if book.path %}
                    <img src="{{ asset('uploads/' ~ book.path) }}" width="150" height="200" alt="Book cover"/>
                    {% else %}
                        <img src="{{ asset('uploads/bookblack.png') }}" width="150" height="200" alt="Book cover"/>
                    {% endif %}
                </td>
                <td>{{ book.name }}</td>
                <td>{{ book.yearPublication }}</td>
                <td>{{ book.ISBN }}</td>
                <td>{{ book.pageCount }}</td>
                {% for author in book.authors %}
                    <td>{{ author.surname }} {{ author.name }} {{ author.patronymic }}</td>
                {% else %}
                    <td></td>
                {% endfor %}
                <td>
                    <a href="{{ path('app_book_show', {'id': book.id}) }}">show</a>
                    <a href="{{ path('app_book_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
